<div class="center jumbotron homepage">
  <h1>Swat Course Review.</h1>

  <% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary home-signup" %>

  <% else %>
    <div class="row">
      <%= render 'shared/search_form' %>
      </h3>
    </div>
    <h3>OR</h3>
    <%= link_to "Browse by Department", departments_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Professor", professors_path, class: "btn btn-lg btn-primary" %>
    

    <!-- <div class="col-md-8"> -->
    <div class="home-review row">
      <div class="col-md-offset-1 col-md-10">
      <h3 class="text-left">Recent Reviews</h3>
        <ul class="reviews text-left">
          <% @recent.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <div class="class name"><%= review.course.name %></div>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>

        </ul>

        <h3 class="text-left">Active Reviews (VOTES)</h3>
        <ul class="reviews text-left">
          <% @active.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <div class="class name"><%= review.course.name %></div>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>


  <% end %>

</div>
