<div class="center jumbotron">
  <h1>Welcome to SwatCoRe</h1>

  <h2>
    This is the home page for the
    <%= link_to "SwatCoRe", root_path %>
    development pge.
  </h2>

  <% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "View Courses Now!", courses_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Departments", departments_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Professor", professors_path, class: "btn btn-lg btn-primary" %>
  <% end %>

</div>
