<div class="center homepage">
  <h1>Swat Course Review.</h1>
  <%= image_tag "pic_main.svg", id: "banner" %>
  <br>

  <% if not user_signed_in? %>
  <%############   NOT SIGNED IN  #######################%>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary home-signup" %>

     <ul class="reviews text-left">
      <h3 class="text-left">Featured Review</h3>
    </ul>

    <%= render "landing" %>

  <% else %>

  <%############    SIGNED IN   #######################%>
    <div class="row">
      <h3>Search by Department, Professor, or Course.</h3>
      <%= render 'shared/search_form' %>
      </h3>
    </div>
    <h3 id="or">OR</h3>
    <%= link_to "Browse by Department", departments_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Professor", professors_path, class: "btn btn-lg btn-primary" %>


    <!-- <div class="col-md-8"> -->
    <div class="home-review row">
      <div class="recent-review col-md-6 ">
      <h3 class="text-left">Recently Posted Reviews</h3>
        <ul class="reviews text-left">
          <% @recent.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <div class="class name"><%= fa_icon "file-pdf-o" if review.course.syllabus? %><%= review.course.name %> (<%= review.course.prof_name %>) </div>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>

        </ul>
      </div>
      <div class="active-review col-md-6">
        <h3 class="text-left">Active Reviews</h3>
        <ul class="reviews text-left">
          <% @active.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <div class="class name"><%= fa_icon "file-pdf-o" if review.course.syllabus? %><%= review.course.name %> (<%= review.course.prof_name %>) </div>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  <% end %>

</div>
