<div class="center jumbotron homepage">
  <h1>Swat Course Review.</h1>

  <% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary home-signup" %>

  <% else %>
    <div class="row">
      <h3 class="col-sm-offset-2 col-sm-2 search-by">
       Search by
      </h3>
      <h3 class="col-xs-6">
        <select>
          <option>Courses</option>
          <option>Departments</option>
          <option>Professors</option>
        </select>
      </h3>
    </div>

    <%= link_to "View Courses Now!", courses_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Departments", departments_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Browse by Professor", professors_path, class: "btn btn-lg btn-primary" %>
    
    <!-- <div class="col-md-8"> -->
    <div class="row">
      <div class="col-md-8">
      <h3>Recent Reviews</h3>
        <ol class="reviews">
          <% @recent.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <li class="class name"><%= review.course.name %></li>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>

        </ol>

        <h3>Active Reviews (VOTES)</h3>
        <ol class="reviews">

          <% @active.each do |review| %>
            <%= link_to review.course do %>
              <ul>
                <li class="class name"><%= review.course.name %></li>
                <%= render review %>
              </ul>
            <% end %>
          <% end %>

        </ol>
      </div>
    </div>
    <!-- </div> -->

  <% end %>

</div>
