<%= render 'shared/search_form' %>

<% if @departments.any? %>
  <h3>Departments</h3>
  <% @departments.each do |dept| %>
    <% d = Department.find(dept.searchable_id) %>

    <%= link_to d do %>
      <ul class="search-result-wrap">
        <li class="department name"><%= d.name %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<br />
<br />

<% if @professors.any? %>
  <h3>Professors</h3>
  <% @professors.each do |prof| %>
    <% p = Professor.find(prof.searchable_id) %>

    <%= link_to p do %>
      <ul class="search-result-wrap">
        <li class="professor name"><%= p.name %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @courses.any? %>
  <h3>Courses</h3>
  <% @courses.each do |c| %>
    <%= render "shared/course_list", :course => Course.find(c.searchable_id) %>
  <% end %>
<% end %>