<% provide(:title, @user.name) %>
<% avgs = @user.avg %>
<section class="row user_page">
  <h1><%= @user.name %></h1>

  <% if current_user.admin? %>
    <h5>
    <%= @user.email %>
    <%#= link_to 'Edit this user', [:edit, @user] %>
    <%= link_to 'Destroy this user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  <% end %>

  <div class="col-md-4">
        
        Useful votes: <br />
        <%= avgs[:up] %>/<%= avgs[:votes] %> <br />

        Average Review: <br />
        
        <table>
        <thead>
          <td><h4>Clarity</h4></td>
          <td><h4>Difficulty</h4></td>
          <td><h4>Worth it?</h4></td>
        </thead>
        <tr>
          <td><h3><%=  avgs[:clarity]    %></h3></td>
          <td><h3><%=  avgs[:workload]   %></h3></td>
          <td><h3><%=  avgs[:worthit]    %></h3></td>
        </tr>
      </table>
  </div>

  <div class="col-md-8">
    <% if @reviews.any? %>  
      <h3>Reviews (<%= @reviews.count %>)</h3>
      <ol class="reviews">
        <% @reviews.each do |review| %>
          <%= link_to review.course do %>
          <div class="class name"><%= review.course.name %> (<%= review.course.prof_name %>)</div>
          <% end %> 
          <%= render review %>
          
        <% end %>
      </ol>
      <%#= will_paginate @reviews %>
    <% else %>
      <h3>This user has yet to write any reviews :( </h3>
    <% end %>
  </div>

</section>