<h1 class="text-left"><%= @course.name %></h1>
<h3><%= @course.crn %></h3>

<p><%= @course.prof_name %> | <%= @course.dept_name %> | <em><%= @course.reviews.count %></em> Reviews</p>

<%= @course.description ? @course.description : "No description found for this class." %> <br /><br />

<% if current_user.admin? %>
  <%= link_to 'Edit this course', [:edit, @course] %>
  <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

