<%= link_to course do%>
<ul>
    <li class="course_name"><%= course.name %></li>
    <li class="course_num"><%= course.crn %></li>
    <li class="course_prof"><%= course.prof_name %></li>
    <li class="course_last"><%= course.last %>
</ul>
      <td><%#= link_to 'Show', course %></td>
      <td><%#= link_to 'Edit', edit_course_path(course) %></td>
      <td><%#= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>