<%= link_to course do%>
<ul>
    <li class="course name"><%= course.name %> (<%= course.crn %>)</li>
    <li class="course prof"><%= course.prof_name_raw %></li>
    <li class="course ratings"><span>Clarity: 5</span><span>Workload: 5</span><span>Worth it?: 5</span>
    <li class="course last"><%= course.last %>
</ul>
      <td><%#= link_to 'Edit', edit_course_path(course) %></td>
      <td><%#= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>