<h1 class="text-left"><%= @course.name %></h1>
<h3><%= @course.crn %></h3>

<p><%= @course.prof_name %> | <%= @course.dept_name %> | <em><%= @course.reviews.count %></em> Reviews</p>

<div class="course-desc">
	<%= @course.description ? @course.description : "No description found for this class."%> <br /><br />
</div>

<div class="test-show">
	<% if @course.fys %>
	   fys: true
	<% end %>
	<% if @course.lab %>
	   lab: true
	<% end %>
	<% if @course.writing %>
	   writing: true
	<% end %>
	<% if @course.credit %>
	   credit: <%= @course.credit %>
	<% end %>
</div>
<% if current_user.admin? %>
  <%= link_to 'Edit this course', [:edit, @course] %>
  <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
