 <h1>
  <%= @course.name %>
</h1>
<p></p>

<p>
  <strong>Crn:</strong>
  <%= @course.crn %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.prof_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.dept_name %>
</p>



<%= @course.reviews.count %> Reviews

