<%= form_for @new_review, :url => reviews_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>

    <%= f.label :clarity %>
    <%= f.number_field :clarity, clap0ss: 'form-control' %>

    <%= f.label :workload %>
    <%= f.number_field :intensity, class: 'form-control' %>

    <%= f.label :worthit %>
    <%= f.number_field :worthit, class: 'form-control' %>
    
    <%= hidden_field_tag 'review[course_id]', @course.id %>
    <%= hidden_field_tag 'review[professor_id]', @course.professor_id %>
    <%= hidden_field_tag 'review[department_id]', @course.department_id %>
    
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>