<%= form_for(@new_review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>

    <%= f.label :overall %>
    <%= f.number_field :overall, class: 'form-control' %>
    
    <input type="hidden" name="course_id" value="<%= @course.id %>" />

    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>