<%= form_for @new_review, :url => reviews_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>

    <%= f.label :clarity %>
    <%= f.range_field :clarity, min: 1, max: 5, value: 3, step: 1 %>

    <%= f.label :workload %>
    <%= image_tag 'crying.png', height: 32, class: "emoji", alt: "Miserable" %>

    <%= f.range_field :intensity, min: 1, max: 5, value: 3, step: 1 %>

    <%= f.label :worthit %>
    <%= f.range_field :worthit, min: 1, max: 5, value: 3, step: 1 %>
    
    <%= hidden_field_tag 'review[course_id]', @course.id %>
    <%= hidden_field_tag 'review[professor_id]', @course.professor_id %>
    <%= hidden_field_tag 'review[department_id]', @course.department_id %>
    
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>