<%= form_for(@new_review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>

    <%= f.label :clarity %>
    <%= f.number_field :clarity, clap0ss: 'form-control' %>

    <%= f.label :workload %>
    <%= f.number_field :intensity, class: 'form-control' %>

    <%= f.label :worthit %>
    <%= f.number_field :worthit, class: 'form-control' %>
    

    <input type="hidden" name="course_id" value="<%= @course.id %>" />
    <input type="hidden" name="professor_id" value="<%= @course.professor_id %>" />
    <input type="hidden" name="department_id" value="<%= @course.department_id %>" />

    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>