<% provide(:title, @department.name) %>


<div class="row">
  <aside class="col-md-4">
      <section class="course_info">

      <h3><%= @department.name %>:</h3>

      <% if @department.professors.any? %>

        <ol class="professor_links">
        <% @department.professors.each do |p| %>
          <li><%= link_to p.name, p %>
          
        <% end %>
        </ol>

      <% else %>
        <%= @department.id %>
        No professors currently listed for this department.
      <% end %>

      </section>

  </aside>
  <div class="col-md-8">
    <% if @department.courses.any? %>

      <h3><%= pluralize(@department.courses.count, "Course") %> in <%= @department.name %></h3>

      <ol class="department_links">

      <% @courses = @department.courses %>
      <%= render partial: "shared/course_list", collection: @department.courses, as: :course %>

      </ol>


    <% else %>
      <h3>No courses yet listed for this department :( </h3>
    <% end %>
  </div>
</div>