<% provide(:title, @department.name) %>
<section class="row department_page">
  <h1><%= @department.name %></h1>
  <% if current_user.admin? %>
    <h5>
    <%= link_to 'Edit this department', [:edit, @department] %>
    <%= link_to 'Destroy', @department, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  <% end %>
  <div class="col-md-4">
    <h3><%= pluralize(@department.professors.count, "Professor") %> Found</h3>

    <% if @department.professors.any? %>
      <% @department.professors.each do |p| %>
        <%= link_to p do %>
          <ul>
            <li class="prof name"><%= p.name %>     
          </ul>
        <% end %>
      <% end %>
    <% else %>
      No professors currently listed for this department.
    <% end %>
  </div>
  <div class="col-md-8">
    <% if @department.courses.any? %>

      <h3><%= pluralize(@department.courses.count, "Course") %> Found</h3>

      <%= render partial: "shared/course_list", collection: @department.courses, as: :course %>
    <% else %>
      <h3>No courses yet listed for this department :( </h3>
    <% end %>
  </div>
</section>