<div class="professor_index">
  <div class="list row">
    <div class="col-lg-8 col-md-offset-2">
    <h2>Professors</h2>
      <% @professors.each do |d| %>
        <%= link_to d do %>
          <ul>
            <li class="professor name"><%= d.name %></li>

            <% if current_user.admin? %>
              <%= link_to 'Edit this professor', edit_professor_path(d) %>
              <%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <br>
    <div class="add_course">
      <%= link_to "#{image_tag("plus.png")}Add a Professor".html_safe, new_professor_path %>
    </div>
    </div>
  </div>
</div>
