<% provide(:title, @professor.name) %>
<section class="row professor_page">
  <h1><%= @professor.name %></h1>
  <% if current_user.admin? %>
    <h5>
    <%= link_to 'Edit this professor', [:edit, @professor] %>
    <%= link_to 'Destroy', @professor, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
  <% end %>
  <div class="col-md-4">
    <h3>1 Department Found</h3>
      <ul>
        <li class="prof name"><%= @professor.dept_name %></li>
      </ul>
  </div>
  <div class="col-md-8">
    <% @courses = Course.where(professor_id: @professor.id) %>
    <% if @courses.any? %>
      <h3><%= pluralize(@professor.courses.count, "Course") %> Found with <%= @professor.name %></h3>
      <%= render partial: "shared/course_list", collection: @professor.courses, as: :course %>
    <% else %>
      <h3>No courses yet listed for this professor :( </h3>
    <% end %>
  </div>
</section>