<% provide(:title, @professor.name) %>


<div class="row">
  <aside class="col-md-4">
      <section class="course_info">

      <h3><%= @professor.name %></h3>
      <h5><%= @professor.dept_name %></h5>

      </section>

  </aside>
  <div class="col-md-8">
    <% @courses = Course.where(professor_id: @professor.id) %>
    <% if @courses.any? %>

      <h3><%= pluralize(@professor.courses.count, "Course") %> in <%= @professor.name %></h3>

      <ol class="professor_links">

      <%= render partial: "shared/course_list", collection: @professor.courses, as: :course %>

      </ol>


    <% else %>
      <h3>No courses yet listed for this professor :( </h3>
    <% end %>
  </div>
</div>