<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :department_id %><br>
    <%= select(:course, :department_id, @dept_options) %>
   
    <%= f.label :professor_id %><br>
    <%= select(:course, :professor_id, @prof_options) %>

    <%= f.label :crn %><br>
    <%= f.text_field :crn %>

    <%= f.submit "Submit", class: "btn btn-primary"%>
  </div>
    
<% end %>

