<div class="course_index">
  <div class="list row">
    <div class="col-lg-8 col-md-offset-2">
    <h2>Courses</h2>

      <% @courses.each do |course| %>
        <%= link_to course do%>
        <ul>  
            <li class="course_name"><%= course.name %></li>
            <li class="course_num"><%= course.crn %></li>
            <li class="course_prof"><%= Professor.find(course.professor_id).name %></li>
        </ul>
             <!--  <td><%= link_to 'Show', course %></td>
              <td><%= link_to 'Edit', edit_course_path(course) %></td>
              <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <% end %>
      <% end %>
    <br>
    <div class="add_course">
      <%= link_to "#{image_tag("plus.png")}Add a Course".html_safe, new_course_path %>
    </div>
    </div>
  </div>
</div>