<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Crn</th>
      <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.department_id %></td>
        <td><%= course.crn %></td>
        <td><%= Professor.find(course.professor_id).name %></td>

        <td><%= link_to 'Show', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/search_form' %>
