<% provide(:title, @course.name) %>
<p id="notice"><%= notice %></p>


<div class="row">
  <aside class="col-md-4">
      <section class="course_info">
        <%= render 'shared/course_info' %>
      </section>

      <%= link_to 'Edit', edit_course_path(@course) %> |
      <%= link_to 'Back', courses_path %>
  </aside>
  <div class="col-md-8">
    <% if logged_in? %>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    <% end %>

    <% if @course.reviews.any? %>
      <h3>Reviews (<%= @course.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% else %>
      <h3>No reviews yet for this class :( </h3>
    <% end %>
  </div>
</div>