<% provide(:title, @course.name) %>
<% avgs = @course.avg %>
<div class="row">
    <section class="course_info col-md-8">
      <%= render 'shared/course_info' %>

      <% if !@course.syllabus? %>
        <%= form_for @course, :url => upload_course_path(@course), html: { multipart: true } do |f| %>
          <%= f.label :syllabus, "Upload a syllabus (.pdf) for this class:" %>
          <%= f.file_field(:syllabus, accept: "application/pdf") %>
          <%= f.submit "Submit" %>
        <% end %>
      <% end %>



    </section>
    <section class="course_avg_ratings col-md-4"?>
      <table>
        <thead>
          <td><h4>Clarity</h4></td>
          <td><h4>Workload</h4></td>
          <td><h4>Worth it?</h4></td>
        </thead>
        <tr>
          <td><h3><%=  avgs[:clarity]    %></h3></td>
          <td><h3><%=  avgs[:workload]   %></h3></td>
          <td><h3><%=  avgs[:worthit]    %></h3></td>
        </tr>
      </table>



      <% if @course.syllabus? %>
        <%= link_to image_tag(@course.syllabus.url(:pdf_thumbnail)), @course.syllabus.url %>
        <br />
        <% if @course.syllabus_uploader? and User.exists?(:id => @course.syllabus_uploader)%>
          Uploaded by <%= User.find(@course.syllabus_uploader).name %><br />
        <% end %>
        <a href="mailto:swatcoreteam@gmail.com">Report an issue with this syllabus.</a>
      <% end %>


    </section>
</div>

<div class="row">
  <div class="col-md-8">
    <% if @course.reviews.any? %>  
      <h3>Reviews (<%= @course.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% else %>
      <h3>No reviews yet for this class :( </h3>
    <% end %>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <section class="review_form col-md-4">
    <%= render 'shared/review_form' %>
  </section>
</div>